In [4]:
import pandas as pd
import pyodbc
server = 'DESKTOP-OLVG7PI'
database = 'newdata'
username = 'sa'
password = 'Kasmo@123'
driver = '{ODBC Driver 17 for SQL Server}'

In [5]:
connection_string=f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
conn=pyodbc.connect(connection_string)
cursor=conn.cursor()

In [6]:

df = pd.read_sql_query("SELECT * FROM dbo.customers", conn)

C:\Users\Saikiran\AppData\Local\Temp\ipykernel_4504\4072528395.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM dbo.customers", conn)

In [7]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,customer_tier
0,1,Michelle Kidd,vayala@example.net,+91 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,2
1,2,Brad Newton,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,1
2,3,Larry Torres,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,0
3,4,Kimberly Price,jessicaknight@example.com,+91 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,2
4,5,Matthew Phillips,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,2
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,+91 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,1
996,997,Jodi Simpson,eric24@example.org,+91 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,0
997,998,Crystal Brown,pshaffer@example.net,+91 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,0
998,999,Gregory Duarte,caitlindunlap@example.org,+91 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,2
999,1000,Jason Walls,michael42@example.com,+91 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,0

In [8]:
prefixes = ['Mr.', 'Mr', 'Miss.', 'Miss', 'Mrs.', 'Mrs', 'Dr.', 'Dr']
 
def clean_name(name):
    parts = name.split()
    if len(parts) == 2:
        return ' '.join(parts)
    elif len(parts) == 4:
        return ' '.join(parts[1:-1])
    elif len(parts) == 3:
        if parts[0] in prefixes:
            return ' '.join(parts[1:])
        else:
            return ' '.join(parts[:-1])
    else:
        return name  
 
df['name'] = df['name'].apply(clean_name)

In [9]:
print(df['name'].to_string())

0              Michelle Kidd
1                Brad Newton
2               Larry Torres
3             Kimberly Price
4           Matthew Phillips
5          Darrell Gallagher
6               Louis Miller
7           Melissa Galloway
8             Matthew Harvey
9               Rachel White
10               Nicole Yang
11         Christine Delgado
12            Joseph Brennan
13               Eric Thomas
14               Laura Perez
15             Erin Matthews
16          Melissa Alvarado
17               Ernest Dunn
18             David Johnson
19             Wayne Morales
20           Michael Vincent
21              Tammie Mcgee
22           Marisa Martinez
23          Crystal Peterson
24          Jeremy Alexander
25              James Graham
26          William Morrison
27              Brandon Hall
28             Morgan Wilson
29              Heather Hill
30             Louis Beasley
31             Julie Shelton
32             Erin Stephens
33        Christopher Powers
34               Rachel Lang
35         Christopher Clark
36             Jessica Hardy
37              Paul Collins
38             Lauren Fisher
39                 Amy Gates
40           Breanna Elliott
41             Andrew Austin
42              Kelsey Young
43               Travis Neal
44              Gordon Logan
45             Felicia Noble
46                Robin Hill
47               Julie Hardy
48               Kevin Smith
49               Valerie Lee
50               David Garza
51             Andrew Strong
52             Phillip Brown
53            James Phillips
54         Travis Stephenson
55              Jaime Holmes
56               Jade Murphy
57          Kathleen Gardner
58              Melissa Long
59              Larry Malone
60             Anthony Simon
61                  Linda Li
62             Jade Gallegos
63             Donna Gardner
64            Ashley Barrett
65             Brenda Malone
66                 Amy Hogan
67        Christopher Adkins
68            Lori Hernandez
69             Jessica Clark
70            Patrick Gibson
71             Rhonda Turner
72          Cristian Hendrix
73               Tony Romero
74               Haley Jones
75         Michelle Johnston
76           Charles Johnson
77            Danielle Pitts
78           William Morales
79               Jason Hodge
80        Charles Fitzgerald
81              Kathy Wilson
82              Hector Reyes
83                Tamara Lee
84             Joseph Potter
85               Shawn Frost
86                 John Hale
87              Rodney Cline
88               Megan Black
89             Hannah Rivera
90            Chelsea Torres
91              Joseph Parks
92           Johnny Bartlett
93              Donald Black
94               Jacob Pratt
95            Alicia Lindsey
96            Larry Johnston
97                 David Day
98              Sherri Moore
99               Aaron Irwin
100               Amy Graham
101               Larry Hill
102             Lindsey Ruiz
103           Jacob Williams
104             Lisa Esparza
105          Edward Williams
106           Robert Mercado
107           Derrick Reeves
108            Ana Singleton
109          Patricia Cooper
110              David Jones
111            Mary Mccarthy
112             Trevor Brown
113          Donald Anderson
114         Elizabeth Adkins
115             Ashley Roman
116             Mathew Adams
117               Kelli King
118          Danielle Walker
119            Gina Whitaker
120            Mark Williams
121             Erika Rivera
122            Courtney Best
123          Margaret Guzman
124          Chloe Hernandez
125         Sharon Alexander
126                Kevin Lee
127           Taylor Randall
128           Nathan Pearson
129            Linda Gregory
130         Richard Robinson
131           Samantha Lewis
132       Elizabeth Williams
133           Travis Maxwell
134       Alexandra Clements
135                Mark Owen
136            Samuel Carter
137           Thomas Wheeler
138         Christina Bishop
139              Peggy Clark
140            Amanda Conrad
141             Lisa Morales
142           Nicholas Hardy
143       Kimberly Hernandez
144     Christopher Gonzalez
145          Jonathan Burton
146       Elizabeth Phillips
147           Jason Bautista
148            Timothy Mills
149            Pamela Juarez
150            Beth Martinez
151          Jennifer Warren
152            Ashley Jacobs
153           Patrick Coffey
154             James Levine
155          Kenneth Hoffman
156              Adam Abbott
157              Luis Savage
158            Austin Chavez
159            Melissa Moore
160              Mary Barron
161         Michael Phillips
162              Holly Kelly
163      Michelle Washington
164            Martin Carter
165       Christopher Taylor
166           Jeffrey Arnold
167        Nicholas Gonzalez
168         Christine Dorsey
169              Lisa Torres
170            Andrew Carter
171             Kyle Serrano
172             John Perkins
173             Kelly Garner
174             Hector Smith
175       Alexandra Williams
176           Alyssa Sanchez
177             Michael Long
178             Tracey Smith
179             Tanya Garcia
180              Dana Howard
181            Donald Thomas
182             Jacob Garcia
183           Katherine Howe
184         Mikayla Morrison
185           Amanda Salazar
186               Larry Beck
187    Christopher Hernandez
188            Michelle Pham
189          Joshua Williams
190           Ryan Henderson
191          Jeffrey Holland
192              Lauren Lowe
193           Stanley Miller
194           Stephanie Ruiz
195             Lauren Kline
196              Kevin Evans
197             Gregory Leon
198                Mary Hays
199              Sarah Brown
200         Christine Waller
201         Tracey Armstrong
202          Richard Shaffer
203           Michael Norris
204             Timothy Ball
205      Christopher Sanchez
206           Michelle Burns
207         Michael Robinson
208            Benjamin Choi
209            Steven Little
210             Larry Miller
211            Andrea Harris
212           Robert Flowers
213         James Richardson
214              David Baker
215        Jonathan Mcintyre
216          Laura Hernandez
217          Sharon Reynolds
218       Elizabeth Sullivan
219            Edward Foster
220           Mackenzie Boyd
221        Michelle Anderson
222            Tanner Thomas
223              Megan Rojas
224         Justin Patterson
225            Ryan Thompson
226            Eric Reynolds
227           Alexis Gardner
228           Wendy Anderson
229          Tyler Velazquez
230          Jeffrey Alvarez
231           Jennifer Payne
232               Brad Clark
233           Andrew Miranda
234        Jennifer Arellano
235            Melissa Bryan
236         Christopher Bell
237              Mark Keller
238           Michael Warren
239           Jocelyn Brandt
240             Miguel Pitts
241         Whitney Peterson
242              Nancy Rubio
243              Mary Martin
244             Jaclyn Owens
245           Charles Graham
246         Connie Alexander
247            Emily Jackson
248            Vanessa Gould
249           Jeffrey Rogers
250       Jonathan Hernandez
251             Andrea Jones
252           Mary Schneider
253            Maria Salazar
254             Misty Romero
255         Jennifer Bonilla
256            Donna Roberts
257              Jesus Lucas
258                John King
259        Steven Valenzuela
260            Kristi Clarke
261             Julia Ingram
262               Amy Wilson
263            Charles Noble
264            Angela Morris
265            Leah Gonzalez
266                 Tara Cox
267          Michelle Hooper
268            Jessica Scott
269            David Gilmore
270          Nicholas Turner
271           Brenda Webster
272             Angie Howard
273         Bradley Phillips
274              Scott Munoz
275          Justin Jennings
276        Benjamin Williams
277           Adriana Larson
278            Heather Perez
279             Sarah Miller
280            Cameron Davis
281             James Jensen
282             Steven Price
283            Jennifer Hill
284          Timothy Roberts
285         Chris Washington
286         Johnny Macdonald
287              Andrea Bell
288            Manuel Walker
289              Tony Barnes
290                Adam Cook
291            Luis Crawford
292         Michelle Holland
293             Sarah Porter
294              Tara Murphy
295                Tara Webb
296           Bryan Marshall
297         Teresa Alexander
298            Deborah Mason
299                Mary Rich
300        Michael Schroeder
301             David Watson
302            Wesley George
303              Ryan Farley
304            William Baker
305           Sheryl Ramirez
306            Courtney Reed
307            Cindy Edwards
308              Samuel Hill
309              Amy Holland
310            Joseph Conley
311          Anthony Edwards
312            Tracey Dawson
313            Craig Winters
314           Jason Williams
315           Anthony Brooks
316        Christopher Brown
317            Jade Guerrero
318              Travis Hall
319      Christopher Jackson
320            Ronald Torres
321           Sarah Marshall
322             Kevin Wilson
323                Allen Lee
324            Jason Mendoza
325        Jennifer Robinson
326       Jennifer Rodriguez
327               John Chang
328            Wendy Mcbride
329               Mary Kline
330         Margaret Douglas
331              Tanner Reed
332             Kelly Farmer
333             Ronald Chang
334          Joseph Gonzalez
335        Michael Middleton
336         Jessica Jacobson
337            Timothy Ponce
338               Mary Olson
339               Gary Blair
340            Jeremiah King
341              Eric Wright
342         Angela Jefferson
343             Eric Merritt
344               Amy Brewer
345               Chad Brown
346          Timothy Alvarez
347            Shawn Alvarez
348             Tonya Miller
349           Carolyn Kramer
350             Mary Simmons
351        Michael Donaldson
352          Theresa Webster
353             Tyrone Burke
354            Carlos Fisher
355              Sean Miller
356               Cory Clark
357                 Joe Chen
358              Maria Evans
359             Holly Wright
360               Troy Downs
361           Heather Rhodes
362          Joseph Gonzalez
363          James Cervantes
364               Jon Hebert
365           Valerie Norris
366            Jacob Johnson
367             Micheal Hess
368            Robert Rogers
369              Aaron Lewis
370              Laura Smith
371          Jennifer Nelson
372          Kevin Middleton
373               James Dunn
374           Carrie Bennett
375            Luis Marshall
376              Fred Pierce
377            Michael Singh
378         Jessica Woodward
379          Katherine Weiss
380           April Caldwell
381          Suzanne Hopkins
382             Miranda Pham
383           Charlotte Ryan
384          Katherine Brown
385             David Martin
386            Melissa Lopez
387            Jennifer Knox
388           Kiara Marshall
389          Jennifer Church
390           Diana Williams
391          Angela Stephens
392           Samantha Hardy
393           Michael Juarez
394           Meghan Bradley
395              John Willis
396          William Pittman
397       Christopher Baxter
398           Melissa Brooks
399         Alejandro Romero
400          Catherine Davis
401            William Adams
402            Benjamin Lara
403            Pamela Golden
404          Michael Johnson
405              Edgar Davis
406        Margaret Calderon
407          Nicole Buchanan
408               Frank Gray
409          Rebecca Roberts
410            Nathan Howard
411            Nathan Herman
412              Mia Johnson
413           Stephen Jensen
414         Jacqueline White
415            Joseph Vargas
416           Kimberly Keith
417             Nichole Tran
418             Frank Miller
419        Elizabeth Stewart
420        Michelle Mcdaniel
421            James Manning
422          Scott Blackwell
423             Matthew Love
424               Amy Taylor
425             Brad Sanford
426          Tiffany Simmons
427              Mary Miller
428         Katherine Brooks
429             David Moreno
430               Eric Kirby
431             Joel Parrish
432             Martha Brown
433             Diana Molina
434              Megan Moore
435            Daniel Nguyen
436               Mary Cantu
437            Bonnie Martin
438           William Barber
439             Nicole Evans
440          Stephanie Frank
441            Veronica Ruiz
442           Jennifer Chang
443          Pamela Mcdonald
444             Mallory Mann
445         Michael Hamilton
446                David Liu
447              Kara Forbes
448             Bryce Cooper
449            Melissa Curry
450             Madison Hill
451           Justin Ramirez
452          Carolyn Gilbert
453              Ryan Gibson
454        Jessica Henderson
455              Beth Santos
456               Dylan Leon
457                 Ian Reed
458                Joe Nixon
459             Amanda Ochoa
460             Dennis Wyatt
461         Curtis Henderson
462            Jessica Jones
463             Ashley Kelly
464         Jessica Phillips
465              Lori Nelson
466            Alison Torres
467               Alice Cruz
468            Kristine Hess
469          Catherine Joyce
470            Kelly Roberts
471          Cynthia Collins
472       Samantha Maldonado
473          Connor Mcintyre
474             Yolanda York
475          Valerie Jackson
476               Sean Yoder
477              Eric Bailey
478              Bonnie Bray
479              Katie Moore
480           Stephanie King
481           Paula Anderson
482           Emily Anderson
483            Derek Mendoza
484             Leslie Gomez
485             Cody Fuentes
486           Robin Phillips
487            Brandy Sawyer
488            Brandon Brown
489             Nancy Nelson
490           Jessica Zuniga
491           Shannon Wright
492           Lauren Merritt
493             Taylor Garza
494              Emily Walsh
495               Brian Paul
496               John Lopez
497          Matthew Salazar
498             Shane Warner
499              Cory Bryant
500            David Shields
501             Robert Hicks
502          Charles Leonard
503         Benjamin Johnson
504             James Mcneil
505          Robert Griffith
506             Kevin Flores
507            Ronald Harvey
508           Monique Malone
509             Harold Smith
510            Kaitlin Drake
511           Carol Jennings
512              Janet Meyer
513        Christina Mendoza
514           Joseph Kennedy
515          Blake Hernandez
516          Francisco Smith
517          Tamara Anderson
518           Michael Carter
519               Shawn Horn
520           Lauren Jackson
521         Michael Copeland
522         Rebecca Campbell
523             Amber Medina
524         Walter Rodriguez
525           Cristina Blake
526              Maria Moore
527               John Davis
528           Ariana Edwards
529               Jason Ware
530            Ashley Flores
531            Susan Ramirez
532            Jessica Payne
533           Barbara Dorsey
534         Christine Spence
535           Michael Harris
536             Nicole Ramos
537          Crystal Gardner
538             Stacie Jones
539            Ronnie Haynes
540            Cameron Olsen
541            William Adams
542               Dale Carey
543               Dylan King
544                Mary Buck
545             Ronald Brown
546             Phillip Holt
547            Sharon Cooper
548              Adam Morris
549            Steven Wilson
550            Angela Pruitt
551             Devon Medina
552        Christopher Ayala
553          Charles Beltran
554           Herbert Arnold
555             Jorge Suarez
556               Amy Zuniga
557               Mike Smith
558             Dylan Nguyen
559        Catherine Delgado
560           Cynthia Jacobs
561               Kelli Gray
562             Wanda Dalton
563            Brandon Brown
564                 Erin Lee
565             Jerry Flores
566              Eddie Velez
567             Erin Richard
568            Marvin Bender
569              Mindy Smith
570             Rebekah Gill
571      Stephanie Rodriguez
572              Philip Wood
573          Samuel Martinez
574             Logan Obrien
575            Melissa Lopez
576           Anthony Wilson
577             Aaron Tanner
578             Kristi Smith
579             Brandi Young
580            Bernard Morse
581              Kathy Cohen
582            Shawn Edwards
583           Steve Alvarado
584               Mark Rocha
585              Tony Hurley
586            Brett Rollins
587             Joshua Weber
588           Ashley Perkins
589             Susan Garcia
590        Stephanie Vasquez
591       Joshua Blankenship
592              Sarah Young
593          Sherry Martinez
594              Ian Roberts
595            Carol Shaffer
596            Autumn Jordan
597            Melissa Adams
598            Jeremy Sparks
599             Jeffrey Dean
600            Clinton Avila
601          Joseph Crawford
602         Kelly Montgomery
603               Amber Hall
604           Kelly Crawford
605             Charles Wolf
606             Bryan Miller
607        Valerie Maldonado
608         Roberto Martinez
609          Maria Donaldson
610                Mary Vega
611             Ricky Levine
612            Thomas Palmer
613             Vicki Flores
614              David Ramos
615           Deborah Miller
616         Alexander Clarke
617        Christopher Green
618          Matthew Johnson
619         Nathaniel Phelps
620       Christina Erickson
621           Valerie Taylor
622               Mary Joyce
623             Matthew Best
624           Allison Thomas
625               Carl Brown
626          Jennifer Jordan
627           Sheila Ramirez
628          Daniel Caldwell
629              John Murray
630            Allison Rivas
631              Jacob Smith
632               Amy Chavez
633         Joseph Rodriguez
634            Raymond Jones
635              Grace Jones
636               Maria Vega
637           Lori Carpenter
638              Brian Flynn
639             Pamela Brown
640         Margaret Navarro
641           Tiffany Fuller
642           Matthew Murray
643             Jackson Lane
644              Tony Guerra
645             Tonya Walton
646              Julie Reese
647        Zachary Gutierrez
648           Victoria Davis
649               Todd Owens
650              Ronald Wood
651              Lisa Walker
652         Dominic Williams
653              Peter Silva
654            Barbara Giles
655               Julia Hess
656             Ryan Everett
657               Frank Hill
658              Seth Mccall
659          Phillip Simmons
660               Ms. Amanda
661           Jennifer Smith
662            Sarah Fischer
663               Juan Davis
664              Mike Jensen
665         Jillian Schwartz
666            Matthew Smith
667           Kristin Miller
668           Victor Patrick
669             Jesse Glover
670             Sarah Harris
671             Cheryl Smith
672              Nicole Berg
673         Charles Anderson
674             Bethany Ware
675           Brittany Mckee
676              Laura Jones
677            Gregory Allen
678               Sarah Bond
679             Cindy Wright
680            Mariah Wilson
681          Christina Baker
682              Brian Brady
683                 Tom Wolf
684           Kristin Miller
685          Angela Calderon
686            Thomas Oneill
687          Pamela Chambers
688           Robert Johnson

In [10]:
df[['first_name', 'last_name']] = df['name'].str.split(n=1,expand=True)

In [11]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,customer_tier,first_name,last_name
0,1,Michelle Kidd,vayala@example.net,+91 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,2,Michelle,Kidd
1,2,Brad Newton,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,1,Brad,Newton
2,3,Larry Torres,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,0,Larry,Torres
3,4,Kimberly Price,jessicaknight@example.com,+91 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,2,Kimberly,Price
4,5,Matthew Phillips,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,2,Matthew,Phillips
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,+91 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,1,Jerry,Mcdaniel
996,997,Jodi Simpson,eric24@example.org,+91 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,0,Jodi,Simpson
997,998,Crystal Brown,pshaffer@example.net,+91 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,0,Crystal,Brown
998,999,Gregory Duarte,caitlindunlap@example.org,+91 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,2,Gregory,Duarte
999,1000,Jason Walls,michael42@example.com,+91 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,0,Jason,Walls

In [12]:
df.drop('name',axis=1)

,customer_id,email,phone,address,registration_date,loyalty_status,customer_tier,first_name,last_name
0,1,vayala@example.net,+91 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,2,Michelle,Kidd
1,2,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,1,Brad,Newton
2,3,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,0,Larry,Torres
3,4,jessicaknight@example.com,+91 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,2,Kimberly,Price
4,5,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,2,Matthew,Phillips
...,...,...,...,...,...,...,...,...,...
995,996,walkerlisa@example.net,+91 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,1,Jerry,Mcdaniel
996,997,eric24@example.org,+91 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,0,Jodi,Simpson
997,998,pshaffer@example.net,+91 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,0,Crystal,Brown
998,999,caitlindunlap@example.org,+91 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,2,Gregory,Duarte
999,1000,michael42@example.com,+91 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,0,Jason,Walls

In [13]:
first = df.pop('first_name')
df.insert(1, 'first_name', first)

last = df.pop('last_name')
df.insert(2, 'last_name', last)

In [14]:
df

,customer_id,first_name,last_name,name,email,phone,address,registration_date,loyalty_status,customer_tier
0,1,Michelle,Kidd,Michelle Kidd,vayala@example.net,+91 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,2
1,2,Brad,Newton,Brad Newton,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,1
2,3,Larry,Torres,Larry Torres,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,0
3,4,Kimberly,Price,Kimberly Price,jessicaknight@example.com,+91 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,2
4,5,Matthew,Phillips,Matthew Phillips,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,2
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry,Mcdaniel,Jerry Mcdaniel,walkerlisa@example.net,+91 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,1
996,997,Jodi,Simpson,Jodi Simpson,eric24@example.org,+91 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,0
997,998,Crystal,Brown,Crystal Brown,pshaffer@example.net,+91 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,0
998,999,Gregory,Duarte,Gregory Duarte,caitlindunlap@example.org,+91 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,2
999,1000,Jason,Walls,Jason Walls,michael42@example.com,+91 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,0

In [ ]:
#pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\saikiran\appdata\local\programs\python\python310\lib\site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in c:\users\saikiran\appdata\local\programs\python\python310\lib\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\saikiran\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saikiran\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.14.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#from sqlalchemy import create_engine

'''conn_str = 'mssql+pyodbc://sa:Kasmo@123@DESKTOP-OLVG7PI/newdata?driver=ODBC+Driver+17+for+SQL+Server'
engine = create_engine(conn_str)'''

In [23]:
from sqlalchemy import create_engine
engine = create_engine(
    "mssql+pyodbc://sa:Kasmo%40123@DESKTOP-OLVG7PI/newdata?driver=ODBC+Driver+17+for+SQL+Server",
    fast_executemany=True)

In [24]:
df.to_sql('named_cus', con=engine, if_exists='replace', index=False)

-1

In [ ]:
df

,customer_id,first_name,last_name,name,email,phone,address,registration_date,loyalty_status,customer_tier
0,1,Michelle,Kidd,Michelle Kidd,vayala@example.net,+91 6197234258,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,2
1,2,Brad,Newton,Brad Newton,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,1
2,3,Larry,Torres,Larry Torres,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,0
3,4,Kimberly,Price,Kimberly Price,jessicaknight@example.com,+91 4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,2
4,5,Matthew,Phillips,Matthew Phillips,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,2
...,...,...,...,...,...,...,...,...,...,...
995,996,Jerry,Mcdaniel,Jerry Mcdaniel,walkerlisa@example.net,+91 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver,1
996,997,Jodi,Simpson,Jodi Simpson,eric24@example.org,+91 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,0
997,998,Crystal,Brown,Crystal Brown,pshaffer@example.net,+91 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,0
998,999,Gregory,Duarte,Gregory Duarte,caitlindunlap@example.org,+91 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,2
999,1000,Jason,Walls,Jason Walls,michael42@example.com,+91 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,0