In [1]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text
import pandas as pd
import numpy as np

In [2]:
engine = create_engine(
    "mssql+pyodbc://sa:Kasmo%40123@DESKTOP-OLVG7PI/newdata?driver=ODBC+Driver+17+for+SQL+Server",
    fast_executemany=True)

In [3]:
df=pd.read_sql('select * from cus_data',con=engine)

In [4]:
df1=df.head(10)
df1

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,+917568099123,hyd,2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,+91 4232229779,"hyd,telangana",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
5,6,Darrell Gallagher DVM,larryharris@example.org,+91 3799503695,"19887 Brandon Bridge, New Rebecca, MA 94947",2025-03-03,Bronze
6,7,Louis Miller,patriciaelliott@example.org,+91 1988627105,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold
7,8,Melissa Galloway MD,watsonbenjamin@example.net,+91 5485499586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",2023-10-06,Bronze
8,9,Matthew Harvey,bgaines@example.net,+91 5811447338,"60123 Davis Ford, Mistychester, WA 69400",2024-10-31,Silver
9,10,Rachel White,whitemichael@example.org,+91 4107299740,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze

In [5]:
id=int(input('enter the customer_id'))
addr=input('enter the address')
mail=input('enter the mail')

In [6]:
query = f"""
update cus_data
   set address='{addr}'
   where customer_id={id}
"""

with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [7]:
query = f"""
update cus_data
   set email='{mail}'
   where customer_id={id}
"""

with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [8]:
df1=pd.read_sql('select * from cus_data',con=engine)
df1

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,sai@gmail.com,+917568099123,"mindspace,hyd",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,+91 5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,+91 8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,+91 4232229779,"hyd,telangana",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,+91 2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,+91 6389899441,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+91 4836252940,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,+91 3907473088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,+91 2574098196,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,+91 6923336880,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze